version: 2

jobs:
  test_python_27:
    docker:
      - image: circleci/python:2.7
        user: root
        cmd: ["/bin/bash"]

    working_directory: ~/json_api_mapper

    steps:
      - checkout

      - run:
          name: Setup
          command: |
            python setup.py develop
            pip install pytest

      - run:
          name: Run tests
          command: |
            pytest --junitxml=junit-py27.xml
            mkdir -p reports
            cp junit*.xml reports/

      - run:
          name: Move reports to reports dir
          command: |
            mkdir -p reports
            cp junit*.xml reports/

      - store_test_results:
          name: Store test artifacts
          path: reports

      - store_artifacts:
          name: Store test artifacts
          path: reports

  test_python_35:
    docker:
      - image: circleci/python:3.5
        user: root
        cmd: ["/bin/bash"]

    working_directory: ~/json_api_mapper

    steps:
      - checkout

      - run:
          name: Setup
          command: |
            python setup.py develop
            pip install pytest

      - run:
          name: Run tests
          command: |
            pytest --junitxml=junit-py35.xml
            mkdir -p reports
            cp junit*.xml reports/

      - store_test_results:
          name: Collect test reports
          path: reports

      - store_artifacts:
          name: Store test artifacts
          path: reports

  test_python_36:
    docker:
      - image: circleci/python:3.6
        user: root
        cmd: ["/bin/bash"]

    working_directory: ~/json_api_mapper

    steps:
      - checkout

      - run:
          name: Setup
          command: |
            python setup.py develop
            pip install pytest

      - run:
          name: Run tests
          command: |
            pytest --junitxml=junit-py36.xml
            mkdir -p reports
            cp junit*.xml reports/

      - store_test_results:
          name: Collect test reports
          path: reports

      - store_artifacts:
          name: Store test artifacts
          path: reports

  release:
    docker:
      - image: circleci/python:3.6
        user: root
        cmd: ["/bin/bash"]

    working_directory: ~/json_api_mapper

    steps:
      - checkout

      - run:
          name: Build release
          command: python setup.py sdist

      - run:
          name: Push release to GemFury
          command: curl -F package=@dist/json_api_mapper-$(python setup.py --version).tar.gz https://$GEMFURY_TOKEN@push.fury.io/kundo-team-account/

workflows:
  version: 2
  build_test_and_release:
    jobs:
      - test_python_27
      - test_python_35
      - test_python_36
      - release:
          filters:
            branches:
              only:
                - master
          requires:
            - test_python_27
            - test_python_35
            - test_python_36
